body {}

.student {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

.selected {
    background-color: burlywood;
}

.userName{
    font-weight: bold;
}

.studentName{
    color: lightcoral;
}

.req {
    color: red;
}

#req {
    color: red;
}